/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --main: #0B0C1C;
  --second: #0E1026;
  --third: #171929;
  --extra: #333937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: var(--main);
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-width: 65rem;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

#root {
  height: calc(100% - 6rem);
  overflow: auto;
}

/*================================================*/

.playlist {
  display: flex;
}

.section-playlist .music-box .cover figure img {
  width: 8rem;
  height: 8rem;
}

.section-playlist .music-box {
  margin-right: 1.25rem;
}

main {
  padding: 1.5rem 2rem;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--extra);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}