@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --main: #0B0C1C;
  --second: #0E1026;
  --third: #171929;
  --extra: #333937;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.song-box {
  font-size: 14.5px;

  position: relative;

  display: flex;
  align-items: center;

  height: 5em;
  background-color: var(--third);
  border-radius: 0.5em;
  padding: 0.5em;
  font-family: 'Roboto', sans-serif;

  overflow: hidden;
  width: 24em;
}

.song-box figure {
  display: block;
  height: 4.5em;
}

.song-box img {
  height: inherit;
}

.song-box div:nth-child(3) {
  margin-left: 5em;
  margin-right: 1em;

  font-weight: 300;
}

#artist {
  font-weight: 300;
}

.cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

.cover span {
  display: contents;
  cursor: pointer;
}

.cover .play-icon {
  position: absolute;
  width: 1.6em;
}