.menu-container .button{
    -fx-background-color : #000000;

}

.menu-container .button:hover {
    -fx-background-color: #161616; /* Color diferente al hacer hover */
    -fx-cursor: hand;
}


.menu-container .title{
     -fx-label-padding : 0 0 15 0;
}
