* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.artist-box {
  width: fit-content;
  text-align: center;
}

.artist-box figure {
  width: 6rem;
  height: 6rem;
  overflow: hidden;

  border-radius: 50%;

  margin-bottom: 0.5rem;

  margin: auto;
}

.artist-box figure img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.artist-box p {
  font-weight: 400;
  font-size: 0.9rem;
}