.btn-toggle-container {
  display: flex;
  gap: 0.6rem;
  margin: 1rem 0;
}

.btn-toggle-container label {
  width: 3rem;
}

.form-playlist-container {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, .45);

  display: flex;
  align-items: center;
  justify-content: center;

}

.form-playlist {
  display: block;
  position: relative;
  text-align: center;
  width: 20rem;
  height: fit-content;
  padding: 1rem;

  background: var(--third);
  border-radius: 0.3rem;
  margin: auto;
}

.form-playlist input {
  border-bottom: 1px solid white;
  height: 2rem;
  border-radius: 0.2rem;
  color: black;
  font-size: 0.9rem;
  width: 90%;
}

.form-playlist input::placeholder {
  color: #b8b8b8;
}

.form-playlist button {
  background-color: white;
  color: rgb(24, 24, 24);
  font-weight: 600;
  line-height: 1rem;
  width: 65%;
  font-size: 0.95rem;
  border: none;
}

.form-playlist button:hover {
  transform: scale(.96);
}

.container-background {
  position: relative;
  display: flex;
  justify-content: center;
  height: 9rem;
  overflow: hidden;

  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container-background .background {
  position: relative;
  width: 9rem;
  height: inherit;
  overflow: hidden;
}

.container-background .background figure {
  display: block;
  position: relative;
  height: inherit;
  width: inherit;
}

.container-background .background figure img {
  height: inherit;
  width: inherit;

  object-fit: cover;
}

.container-background .background #icon-upload {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  display: block;

  cursor: pointer;
}

#icon-close {
  position: absolute;
  right: 1rem;
  width: 0.7rem;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}


.spinnerContainer{
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0.5rem 0;
}

.spinnerContainer .spinner{
  margin-top: -29px;
}