@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: white !important;
  margin: 0;
  padding: 0;
}

.title-section {
  display: flex;
  align-items: center;

  margin-bottom: 0.8rem;
}

.title-section h2 {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.title-section img {
  height: 1.2rem;
  width: 1.4rem;
}

main .container-section-1 {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
}


/*
  Section Your "Playlists"
*/

.section-playlist {
  position: relative;
  width: 70%;
  min-width: 20rem;
}

.section-playlist .playlist {
  display: flex;
  align-items: center;
  overflow: visible;
}

.section-playlist .music-box .cover figure img {
  width: 8rem;
  height: 8rem;
}

.section-playlist .music-box {
  font-size: 14px;
  margin-right: 1.25rem !important;
}

.playlist::-webkit-scrollbar:horizontal {
  height: 4px;
}

.playlist::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}


/*
  Section "Recently Played"
*/

.section-recently {
  min-width: 17rem;
  width: 30%;
}

.section-recently .songs {
  margin-bottom: 0.5rem;
}

main .song-box {
  font-size: 11px;
}



/*
  Section "Recently Added"
*/
.recently-added {
  display: flex;
  justify-content: space-between;
}

.recently-added .music-box {
  font-size: 12px;
  margin: 0 0.5rem;
}


/*
  Section "Your Likes"
*/
.your-likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.your-likes .music-box {
  font-size: 12px;
  margin: 0 0.5rem;
}

.your-likes .music-box .cover .cover-img img {
  width: 10rem;
  height: 10rem;
}

/*
  Section Genres
*/
.section-genres .genres {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}



/*
  Section Artist
*/
.section-artist .artist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

section {
  margin-top: 3rem;
}


@media only screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }

  #root .song-box {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1220px) {


  #root .section-genres .genres {
    justify-content: center;
  }
}