* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.music-box {
  width: fit-content;
  min-width: fit-content;

  text-align: center;
  overflow: hidden;
}

.music-box.small {
  width: 8rem;
  min-width: 8rem;
}

.music-box .cover {
  position: relative;
  width: fit-content;
  overflow: hidden;
  width: 100%;

  border-radius: 0.3rem;
}

.music-box .cover .generate-cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.music-box .cover .generate-cover img {
  width: 4rem;
  height: 4rem;
}

.cover-img {
  display: grid;
  grid-template-columns: 1fr;
}

.music-box .cover span div {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;

  height: 1.5rem;
  width: 1.4rem;

  cursor: pointer;
}

.music-box .cover span div img {
  position: relative;
  height: inherit;
  width: inherit;
}

.music-box p {
  margin: 0.2em 0;
}

.music-box .cover .cover-img img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.music-box .cover figure {
  width: 100%;
  height: 100%;

  overflow: hidden;
}