@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --main: #0B0C1C;
  --second: #0E1026;
  --third: #171929;
  --extra: #333937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.player {
  font-size: 13px;

  background-color: var(--second);
  position: absolute;
  height: 6em;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 50rem;
  z-index: 9999;

  font-family: 'Roboto', sans-serif;

  padding: 0.5em;
}

.player-container {
  position: relative;
  height: 100%;

  display: flex;
  align-items: center;
}

.container-controls-options {
  position: relative;
  height: 100%;
  width: 75%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 1rem;
}


.player .song {
  position: relative;

  display: flex;

  align-items: center;
  height: inherit;

  width: 25%;

  font-size: 0.9em;
}

.player .song .data-song {
  width: calc(100% - 6rem);
}

.player .song p.song-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player .song figure {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  width: 4rem;
  margin-right: 0.7em;

  overflow: hidden;
}

.player .song .loader {
  width: 2.5rem;
  height: 2.5rem;
}

.player .song figure img {
  height: inherit;
  width: inherit;
}


.player #artist {
  margin-top: 0.2em;
}

.player .controls {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.player .controls img {
  height: 1.81em;
  margin: 1em;
}

.player .controls .icon-loop {
  height: 1.25em;
}

.player .time-line {
  margin-right: 1em;
  margin-left: 1em;

  width: 40%;
}


.container-progress {
  display: flex;
  align-items: center;

  position: relative;
  background-color: var(--extra);
  margin-bottom: 0.188em;
  min-width: 100%;
  height: 0.3rem;
  border-radius: 1rem;
}


#slider {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0);

  width: calc(100% + 12px);
  height: inherit;

  padding: 0;
  margin: 0;

  position: absolute;
  left: -6px;

  box-shadow: none;
  cursor: pointer;


}


.slider-bar {
  position: absolute;
  left: 0rem;
  height: inherit;
  background: linear-gradient(1deg, #d32f2f 13%, #f6693c);

  border-radius: 1rem 0px 0px 1rem;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 0.85rem;
  width: 0.85rem;
  border-radius: 100%;
  background-color: white;
}


.time-line .values-time {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  font-weight: 300;

  letter-spacing: 0.05em;

}

.time-line .values-time p::selection {
  user-select: none;
}

.player .btn-options {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
}

.player .btn-options .btn-option {
  height: 1.81em;
  display: flex;
  align-items: center;
}

.player .btn-options div img {
  height: 1.81em;
  margin: 1em;
}

.player .btn-options div:first-child img {
  margin: 0;
}

.player .btn-options .btn-option:first-child.is-active {
  height: 9rem;
  margin-bottom: 7.5rem;
}

.player .btn-options .btn-option:first-child {
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 2rem;
  margin-right: 2.5em;
}

.volume {
  display: none;
}

.volume.is-active {
  display: block;
  height: 0.3rem;
  width: 6rem;
  transform: rotate(-90deg);

  position: absolute;
  bottom: 4.7rem;
  left: -2.1rem;
}

.volume-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--extra);
  margin-bottom: 0.188em;
  min-width: 6rem;
  height: 0.3rem;
  border-radius: 1rem;

}


#volume-slider {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0);

  width: calc(6rem + 12px);
  height: inherit;

  padding: 0;
  margin: 0;

  position: absolute;
  left: -6px;

  box-shadow: none;
  cursor: pointer;
}