@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#name{
  line-height: 1rem;
}

.song-box {
  font-size: 13px;

  position: relative;

  display: flex;
  align-items: center;

  height: 5.5em;
  background-color: var(--third);
  border-radius: 0.5em;
  padding: 0.5em;
  font-family: 'Roboto', sans-serif;

  overflow: hidden;
  width: 25em;
}

.song-box .licence-container{
  display: flex;
}

.song-box .copyright-info{
  width: 1.4rem;
  cursor: pointer;
}

.song-box figure {
  display: block;
  height: 4.5em;
  width: 4.5em;
  overflow: hidden;
}

.song-box img {
  height: inherit;
  width: inherit;
}

.song-box div:nth-child(2) {
  width: 80%;
}

.song-box div:nth-child(3) {
  margin-left: 1em;
  margin-right: 1em;

  font-weight: 300;
}

#artist {
  font-weight: 300;
}

.section-playlist .music-box {
  width: 8rem;
  max-width: 8rem;
}

.song-box .cover {
  position: relative;
  margin-right: 0.5rem;
}

.song-box .cover span {
  display: contents;
  cursor: pointer;
}

.song-box .cover .play-icon {
  position: absolute;
  width: 1.5em;

  bottom: 0.2rem;
  right: 0.3rem;
}



/*Song Box Large*/
.song-box.large {
  width: 100%;
  height: 2.9rem;
  justify-content: space-between;
  font-size: 0.8rem;

  margin-bottom: 0.3rem;
}

.song-box.large div:nth-child(2) {
  width: 15%;
}

.song-box.large div:nth-child(2) p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.song-box.large div:nth-child(3) {
  width: 5%;
  margin: 0;
}


.song-box.large .cover {
  font-size: 0.57rem;
  border-radius: 0.15rem;
  overflow: hidden;
}

.song-box.large .container-cover-data .data {
  width: 10rem;
  overflow: hidden;
}

.song-box.large .container-cover-data {
  display: flex;
}

.song-box.large .container-cover-data .data p {
  height: 1.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.song-box.large .btn-options {

  display: flex;
  align-items: center;

  height: inherit;

}

.song-box.large .btn-options img {
  height: 1.8rem;
  width: auto;
  cursor: pointer;
}

.song-box.large .btn-options img:last-child {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
  margin-left: 0.5rem;
}